{% extends "blog/base.html" %}
{% block content %}
{%load static%}
    <h1>About Us  </h1>

<img src="{% static 'blog/k.jfif' %}" alt="My image" width="600px" height="300px">
<p>
    TechChum is a platform to analyze and improve your Programming Progress and for interview preparation.There are lots of resources for your Interviews here. Use our Recommendation system to improve yourself in Competitive Programming.
 <br><br>
    <b>Follow our social handles:</b><br>
                LinkedIn: <a href=" https://www.linkedin.com/company/techchum/" target="_blank"> https://www.linkedin.com/company/techchum/</a> <br>
    Facebook:<a href="https://www.facebook.com/techchum.techchum"target="_blank" >https://www.facebook.com/techchum.techchum</a> <br>
    Instagram:<a href="https://www.instagram.com/techchum/" target="_blank">https://www.instagram.com/techchum/</a>
                                                             <br>Telegram: <a href="https://t.me/techchum/" target="_blank">https://t.me/techchum/</a></p>
</p>

{% endblock content %}
